/*
 *
 * MMM-CaravanPiPosition
 *
 * spitzlbergerj
 * MIT Licensed.
 *
 * Custom here your css module
 *
 */
.MMMCPIPosition {
	margin-left:auto;
	margin-right: auto;
	background-image: url(img/caravanpiMMMbackground.png); /* dimensions of png 400 x 150 */
	background-repeat: no-repeat;
	background-position: 15px 30px;
	font-size: 20px;
	font-weight: bold;
	width: 520px !important;
	height: 165px !important;
}



.back {
	text-align: left;
	width: 100px;
}
.middleback {
	width: 60px;
}
.middle {
	text-align: center;
	width: 100px;
}
.middlefront {
	width: 60px;
}
.front {
	text-align: right;
	width: 100px;
}
.drawbar {
	text-align: right;
	width: 100px;
}

.leftside {
	height: 30px;
}
.middleleft {
	height: 30px;
}
.middlecenter {
	height: 30px;
}
.middleright {
	height: 30px;
}
.rightside {
	height: 30px;
}
.datetime {
	vertical-align:top;
	height: 15px;
}
